cmake==3.22.3
colorama==0.4.4
cycler==0.11.0
decorator==5.1.1
Flask==2.1.2
flatbuffers==2.0
fonttools==4.32.0
gast==0.5.3
google-auth==2.6.5
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
graphviz==0.20
grpcio==1.44.0
h5py==3.6.0
idna==3.3
imutils==0.5.4
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.1.0
keras==2.8.0
keras-notify==0.0.1
Keras-Preprocessing==1.1.2
keras-visualizer==2.4
kiwisolver==1.4.2
Markdown==3.3.6
MarkupSafe==2.1.1
matplotlib==3.5.1
numba==0.55.1
numpy==1.21.6
oauthlib==3.2.0
opencv-python==4.5.5.64
opt-einsum==3.3.0
packaging==21.3
pandas==1.4.2
scikit-learn==1.1.0
scipy==1.8.0
six==1.16.0
sklearn==0.0
SoundFile==0.10.3.post1
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.8.0
tensorflow-io-gcs-filesystem==0.24.0
termcolor==1.1.0
tf-estimator-nightly==2.8.0.dev2021122109
