Flask==2.1.2
h5py==3.6.0
idna==3.3
imutils==0.5.4
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.1.0
kiwisolver==1.4.2
libclang==13.0.0
librosa==0.9.1
llvmlite==0.38.0
Markdown==3.3.6
MarkupSafe==2.1.1
matplotlib==3.5.1
numba==0.55.1
numpy==1.21.6
oauthlib==3.2.0
opencv-python==4.5.5.64
opt-einsum==3.3.0
packaging==21.3
pandas==1.4.2
Pillow==9.1.0
rsa==4.8
schedule==1.1.0
scikit-learn==1.1.0
scipy==1.8.0
six==1.16.0
sklearn==0.0
Werkzeug==2.1.1
wrapt==1.14.0
gunicorn==19.0.0
